body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: maroon;
    color: #800000; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 800px; 
    background-color: #ffe0b3; 
    border-radius: 8px;
    padding: 20px;
  }
  
  .account-form {
    width: 100%;
  }
  
  .account-form h2 {
    margin-bottom: 20px;
    color: maroon; 
    text-align: center;
  }
  
  .form-row {
    margin-bottom: 20px; 
    display: flex;
  }
  
  .form-group {
    margin: 0 10px; 
    border-radius: 5px; 
    padding: 5px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #800000;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); 
  }
  
  .account-form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, maroon, yellow); 
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
  }
  
  .account-form button:hover {
    background-image: linear-gradient(to right, yellow, maroon); 
  }
  