
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3efd0; 
}

.dashboard {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center; 
}

header {
  background-color: #8A1B1B; 
  color: #ffffff; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  text-align: center; 
  width: 100%;
  display: inline-block; 
}

.buttons {
  display: flex;
  gap: 10px;
}

.button-container {
  margin-top: 20px;
  text-align: center; 
}

button {
  background-color: #FFD700; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #FFC107; 
}


.table-container {
  margin-top: 20px;
  overflow-x: auto; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #8A1B1B; 
  color: #FFD700; 
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9; 
}

tbody td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}


.add-course-container {
  position: relative;
  display: inline-block;
  margin-top: 20px; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8A1B1B;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0;
  right: 0; 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #FFD700;
}

.show {
  display: block;
}
