body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: #a62929;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #ad2525;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #1a1919;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f5b966;
}

.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #040404;
}

canvas {
    max-width: 100%;
    height: auto;
}


table.class-report {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table.class-report th,
table.class-report td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table.class-report th {
    background-color: #f4f4f4;
}

table.class-report td {
    text-align: center;
}

table.class-report tr:nth-child(even) {
    background-color: #f9f9f9;
}
